/* styles.css */

/* Reset de base pour homogénéiser les styles sur les navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles globaux */
  body, html {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
    overflow-x: hidden;
  }
  
  /* En-tête */
  header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    font-size: 2rem;
  }
  
  /* Section principale */
  main {
    text-align: center;
  }
  
  .hero {
    background: url('path_to_your_background_image.jpg') no-repeat center center/cover;
    color: rgb(0, 0, 0);
    padding: 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hero-content {
    max-width: 700px;
  }
  
  .cta-button {
    padding: 1rem 2rem;
    margin-top: 2rem;
    background: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .cta-button:hover {
    background: #489f48;
  }
  
  .about {
    padding: 3rem;
    background: #f4f4f4;
  }
  
  /* Pied de page */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  /* Media queries pour le responsive design */
  @media (max-width: 768px) {
    .hero {
      height: auto;
      padding: 1rem;
    }
  
    .hero-content {
      padding: 0;
    }
  
    .about {
      padding: 1.5rem;
    }
  }
  